/* .amazon {
  width: 200px;
  height: auto;
  position: relative;
  top: 13px;
} */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("./images/wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
}

.header {
  padding-top: 20px;
}

.wrapper {

  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 4vw;
  font-weight: bold;

}

.wrapper-2 {

  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 5vw;
  font-weight: bold;

}

.universal-margin {
  margin-bottom: 30px;
}

.top-margin {
  margin-top: 100px;
}

nav {
  text-align: center;
}

.nav-color {
  color: gray;
}

ul {
  list-style: none;

}





.about {
  color: white;
}

.bob-about {
  width: 100%;
}

.white {
  color: white;
}



/* .carousel-control-prev-icon,
.carousel-control-next-icon {

  outline: black;

  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
} */


hr {
  border-top: 2px solid black;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.book {
  height: auto;
  width: 100%;
}

.book-heading {
  color: gray;
}

.logo {
  width: 100%;
}

.logo:hover {
  background-color:#000;
    opacity:0.5;
}

.barnes {
  margin-bottom: 10%;
}

@media (max-width: 576px) {
  .description {
    text-align: center;
  }
  .carousel-indicators {
    display: none;
  }

  .carousel-control-prev {
    display:none;
  }

  .carousel-control-next {
    display:none;

  }
  .bob-top {
    width: 100%

  }

}

@media (max-width: 768px) {



}

@media (min-width: 576px) {
  .amazon {
    position: relative;
    top: -4%;
  }
  .carousel-inner {
    height: 500px;
  }

  .bob-top {
    height:150px;
    width: auto;

  }
  li {
    display: inline-block;

  }
  .nav-line::after {
    margin: 0 10px 0 15px;
    content: "|";
    color: gray;
  }
}

@media (min-width: 768px) {
  .amazon {
    position: relative;
    top: -6%;
  }
  .maker-div {
    padding: 100px;
  }
  .valhalla-div {
    padding: 100px;
  }
  .disappearing-div {
    padding: 100px;
  }
  .bob-top {
    height:200px;
    width: auto;

  }
}

@media (min-width: 992px) {
  .amazon {
    position: relative;
    top: -7%;
  }

  .quotes {
    padding-top: 50px;
  }

  .quotes-disappear {
    padding-top: 25px;
  }
  .carousel-book {
    height: 500px;
    width: auto;
  }

  .carousel-book-div {
    padding-left: 130px;
  }


}
@media (min-width: 1200px) {
  .amazon {
    position: relative;
    top: -7%;
  }

  .quotes {
    padding-top: 100px;
  }

  .quotes-disappear {
    padding-top: 75px;
  }

}
