/* .amazon {
  width: 200px;
  height: auto;
  position: relative;
  top: 13px;
} */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("./images/wall.jpg");
}

.carousel-control-next-icon {

}

.universal-margin {
  margin-bottom: 30px;
}

.top-margin {
  margin-top: 100px;
}
.bob-top {
  width: 100%;
}

.bob-about {
  width: 100%;
}

.white {
  color: white;
}

.carousel-inner {
  height: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

  outline: black;

  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}



.carousel-img {
  /* height: 600px; */
}

.carousel-indicators {
  /* padding-top: 500px; */
}

hr {
  border-top: 2px solid #b4b4b4;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.book {
  height: auto;
  width: 100%;
}



.logo {
  width: 100%;
}

.logo:hover {
  background-color:#000;
    opacity:0.5;
}

.barnes {
  margin-bottom: 10%;
}

@media (max-width: 576px) {
  .description {
    text-align: center;
  }


}

@media (max-width: 768px) {

  .carousel-indicators {
    display: none;
  }

  .carousel-control-prev {
    display:none;
  }

  .carousel-control-next {
    display:none;

  }

}

@media (min-width: 576px) {
  .amazon {
    position: relative;
    top: -4%;
  }






}

@media (min-width: 768px) {
  .amazon {
    position: relative;
    top: -6%;
  }
  .maker-div {
    padding: 100px;
  }
  .valhalla-div {
    padding: 100px;
  }
  .disappearing-div {
    padding: 100px;
  }
}

@media (min-width: 992px) {
  .amazon {
    position: relative;
    top: -7%;
  }

  .quotes {
    padding-top: 50px;
  }

  .quotes-disappear {
    padding-top: 25px;
  }

}
@media (min-width: 1200px) {
  .amazon {
    position: relative;
    top: -7%;
  }

  .quotes {
    padding-top: 100px;
  }

  .quotes-disappear {
    padding-top: 75px;
  }

}
